doctype 5
html
  head
    title #{title} - sample imap client
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Sample imap client
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express and Jade